body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

#light {
  background: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
}

#dark {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  color: #fff;
}

#dark a {
  color: #fff;
}
.logo {
  width: 50px;
}

.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: linear-gradient(
    91.1deg,
    rgb(57, 31, 105) -2.3%,
    rgb(115, 43, 155) 44.4%,
    rgb(231, 75, 184) 103.4%
  );
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.custom-btn:hover {
  color: #fff;
  border: none;
  background: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

.wid {
  width: 18%;
}
